{{/*  .caption
.titleColor
.title
.description
.blockClass  */}}
<div class="block-section-header container-xxl py-4 py-lg-7 {{ .blockClass }}">
  <div class="row align-items-end">
    {{- if or .title .caption -}}
    <div class="header-titlegroup col">
      {{- with .caption }}
      <div class="caption fs-5 fw-bolder py-3 py-lg-4">{{ . }}</div>
      {{ end -}}
      <h2 class="display-2 mb-3">
        {{- with .titleColor }}<span class="text-primary">{{ . }} </span>{{ end -}} {{- .title -}}
      </h2>
    </div>
    {{ end -}}
    {{- with .description }}
    <div class="col-lg-6 d-flex align-items-center">
      <div class="fs-4 py-1 py-lg-3 text-dark">
        {{ . | markdownify }}
      </div>
    </div>
    {{ end -}}
  </div>  
</div>{{ printf "<!-- END block-section-header -->" | safeHTML }}