{{- $blockClass := .Scratch.Get "blockClass" -}}
{{- $linkClass := .Scratch.Get "link_class" -}}
{{- $link := .Scratch.Get "link" -}}
{{- $link2 := .Scratch.Get "link2" -}}
{{- $link_label := .Scratch.Get "link_label" -}}
{{- $link2_label := .Scratch.Get "link2_label" -}}
{{- with $link | or $link2 }}
<div class="block-action mt-md-n4 pb-5 text-center {{ $blockClass }}">
  <div class="container">
    {{- if $link -}}
    <a class="{{- with $linkClass }}{{ . }}{{ else }}btn btn-lg btn-link{{ end }} mb-2" href="{{ $link }}">{{ $link_label }}&nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="ms-2 bi bi-arrow-right"
      viewBox="0 0 16 16">
      <path fill-rule="evenodd"
        d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
    </svg></a>
    {{- end -}}
    {{- if $link2 -}}
    <a class="{{- with $linkClass }}{{ . }}{{ else }}btn btn-lg btn-link{{ end }} mb-2" href="{{ $link2 }}">{{ $link2_label }}&nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="ms-2 bi bi-arrow-right"
      viewBox="0 0 16 16">
      <path fill-rule="evenodd"
        d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
    </svg></a>
    {{- end -}}
  </div>
</div>{{- printf "<!-- END block-action -->" | safeHTML }}
{{ end -}}